# Dependencies
node_modules/
.pnpm-store/

# Production build
dist/
build/

# Operating System files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
*.log